include includes/head.html
</head>
body
    include includes/header.html
    #menu
        a.menu-item(href='index.html') ABOUT
        span /
        a.menu-item(href='travel.html') TRAVEL
        span /
        a.menu-item.active(href='art.html') ART
    #content
        h1
            include includes/logo.html
            span  / ART
        p.
            Photography is mainly means of documenting the adventures I find myself on, and you will therefore be able
            to find most of my pictures in the TRAVEL section.
        p.
            I also draw using pencil or charcoal, and paint with acrylic paints, mainly on canvas. Being close to computers
            and design, I have always experimented with digital art as well. While my photography does not have a particular
            focus, in my paintings and drawings I mainly capture people.
        h2 Traditional Art
        table
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
        h2 Digital Art
        table
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
        h2 Photography
        table
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
            tr
                td photo 1
                td photo 2
                td photo 3
    include includes/footer.html
