doctype strict
html

    include includes/head.pug

    body
        #menu
            a.menu-item(href='index.html') ABOUT
            span /
            a.menu-item(href='travel.html') TRAVEL
            span /
            a.menu-item.active(href='art.html') ART
        #content
            h1
                include includes/logo.pug
                span  / ART
            .intro
                p TRADITIONAL ART / DIGITAL ART / PHOTOGRAPHY
                p Hover over any image for a brief description.
                p
                    i.
                        Please do not distribute any images or videos on this website without my express authorization.

            h2 Traditional Art
            p.
                I draw using pencil or charcoal, and paint with acrylic paints, mainly on canvas. My main focus is on people - or
                even more precisely - their faces.
            .row
                a(href='images/art/paint/danca1.jpg')
                    img(src='images/art/paint/danca1.jpg' title='"Soar" - Charcoal on paper')
                a(href='images/art/paint/franta1.jpg')
                    img(src='images/art/paint/franta1.jpg' title='"Franta" - Acrylic on canvas')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/franta2.jpg' title='For scale')
            .row
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka1.jpg' title='"Košonka" - Charcoal on large format paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/joe.jpg' title='"Joe" - Charcoal on paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/john.jpg' title='"John" - Charcoal on paper')
            .row
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka2.jpg' title='"Kačenka" - Acrylic on paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka3.jpg' title='For scale')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/me.jpg' title='"Music" - Charcoal on paper')

            h2 Digital Art
            p.
                Being always close to computers and design, I have been experimenting with digital art as well.
            .row
                a(href='images/art/digi/chelsea.jpg')
                    img(src='images/art/digi/chelsea.png' title='"Chelsea" - Vector painting')
                a(href='images/art/digi/monicka.jpg')
                    img(src='images/art/digi/monicka.jpg' title='"Monička" - Digital drawing')
                a(href='images/art/digi/noir.jpg')
                    img(src='images/art/digi/noir.png' title='"Noir" - Digital drawing')
            .row
                a(href='images/art/digi/chalk.jpg')
                    img(src='images/art/digi/chalk.jpg' title='"Chalk" - Digital drawing')

            h2 Photography
            p.
                Photography for me is primarily means of documenting the adventures I find myself on. This is a selection
                of some of my favourite pictures, in no particular order.
            .row
                a(href='images/art/photos/1.jpg')
                    img(src='images/art/photos/1.jpg' title='Autumn Road')
                a(href='images/art/photos/2.jpg')
                    img(src='images/art/photos/2.jpg' title='John')
                a(href='images/art/photos/3.jpg')
                    img(src='images/art/photos/3.jpg' title='Pyrenees from Toulouse')
            .row
                a(href='images/art/photos/10.jpg')
                    img(src='images/art/photos/10.jpg' title='Vanagon')
                a(href='images/art/photos/11.jpg')
                    img(src='images/art/photos/11.jpg' title='Rogers Pass')
                a(href='images/art/photos/12.jpg')
                    img(src='images/art/photos/12.jpg' title='Nevada')
            .row
                a(href='images/art/photos/13.jpg')
                    img(src='images/art/photos/13.jpg' title='Glacier')
                a(href='images/art/photos/33.jpg')
                    img(src='images/art/photos/33.jpg' title='Sunset')
                a(href='images/art/photos/15.jpg')
                    img(src='images/art/photos/15.jpg' title='Rappel')
            .row
                a(href='images/art/photos/19.jpg')
                    img(src='images/art/photos/19.jpg' title='Eastbound')
                a(href='images/art/photos/20.jpg')
                    img(src='images/art/photos/20.jpg' title='Oily Sea')
                a(href='images/art/photos/21.jpg')
                    img(src='images/art/photos/21.jpg' title='Dirt Road')
            .row
                a(href='images/art/photos/25.jpg')
                    img(src='images/art/photos/25.jpg' title='Winter Trees')
                a(href='images/art/photos/26.jpg')
                    img(src='images/art/photos/26.jpg' title='Otters')
                a(href='images/art/photos/27.jpg')
                    img(src='images/art/photos/27.jpg' title='The Bride')
            .row
                a(href='images/art/photos/28.jpg')
                    img(src='images/art/photos/28.jpg' title='Frozen Lake')
                a(href='images/art/photos/29.jpg')
                    img(src='images/art/photos/29.jpg' title='Calm')
                a(href='images/art/photos/30.jpg')
                    img(src='images/art/photos/30.jpg' title='Eagle')
            .row
                a(href='images/art/photos/31.jpg')
                    img(src='images/art/photos/31.jpg' title='Repairs')
                a(href='images/art/photos/32.jpg')
                    img(src='images/art/photos/32.jpg' title='Ascend')
                a(href='images/art/photos/14.jpg')
                    img(src='images/art/photos/14.jpg' title='Großer Zschirnstein')
            .row
                a(href='images/art/photos/34.jpg')
                    img(src='images/art/photos/34.jpg' title='Inversion')
                a(href='images/art/photos/35.jpg')
                    img(src='images/art/photos/35.jpg' title='Squasmish')
                a(href='images/art/photos/36.jpg')
                    img(src='images/art/photos/36.jpg' title='CB650')

            .row
                a(href='images/art/photos/4.jpg')
                    img(src='images/art/photos/4.jpg' title='The Chief')
                a(href='images/art/photos/5.jpg')
                    img(src='images/art/photos/5.jpg' title='Night Flame')
                a(href='images/art/photos/6.JPG')
                    img(src='images/art/photos/6.JPG' title='Ariège')
            .row
                a(href='images/art/photos/7.jpg')
                    img(src='images/art/photos/7.jpg' title='Mountain Goats')
                a(href='images/art/photos/8.jpg')
                    img(src='images/art/photos/8.jpg' title='Red Rocks')
                a(href='images/art/photos/9.jpg')
                    img(src='images/art/photos/9.jpg' title='Grasslands')
            .row
                a(href='images/art/photos/16.jpg')
                    img(src='images/art/photos/16.jpg' title='Yukon')
                a(href='images/art/photos/17.jpg')
                    img(src='images/art/photos/17.jpg' title='Snow Sprint')
                a(href='images/art/photos/18.jpg')
                    img(src='images/art/photos/18.jpg' title='Midnight Sun - Lofoten')
            .row
                a(href='images/art/photos/22.jpg')
                    img(src='images/art/photos/22.jpg' title='Wedding Guests')
                a(href='images/art/photos/23.jpg')
                    img(src='images/art/photos/23.jpg' title='Wedding Guests')
                a(href='images/art/photos/24.jpg')
                    img(src='images/art/photos/24.jpg' title='Red Rocks')

        include includes/footer.pug