include includes/head.html
</head>
body
    include includes/header.html
    #menu
        a.menu-item(href='index.html') ABOUT
        span /
        a.menu-item(href='travel.html') TRAVEL
        span /
        a.menu-item.active(href='art.html') ART
    #content
        h1
            include includes/logo.html
            span  / ART
        .intro
            p.
                Hover over any image for a brief description.
            p
                i.
                    Please do not distribute any images on this website without my express authorization.

        h2 Traditional Art
        p.
            I draw using pencil or charcoal, and paint with acrylic paints, mainly on canvas. My main focus is on people - or
            even more precisely - their faces.
        table
            .row
                a(href='images/art/paint/danca1.jpg')
                    img(src='images/art/paint/danca1.jpg' title='"Soar" - Charcoal on paper')
                a(href='images/art/paint/franta1.jpg')
                    img(src='images/art/paint/franta1.jpg' title='"Franta" - Acrylic on canvas')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/franta2.jpg' title='For scale')
            .row
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka1.jpg' title='"Košonka" - Charcoal on large format paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/joe.jpg' title='"Joe" - Charcoal on paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/john.jpg' title='"John" - Charcoal on paper')
            .row
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka2.jpg' title='"Kačenka" - Acrylic on paper')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/kacenka3.jpg' title='For scale')
                a(href='images/art/paint/franta2.jpg')
                    img(src='images/art/paint/me.jpg' title='"Music" - Charcoal on paper')

        h2 Digital Art
        p.
            Being always close to computers and design, I have been experimenting with digital art as well.
        table
            .row
                img(src='images/art/digi/chelsea.png' title='"Chelsea" - Vector painting')
                img(src='images/art/digi/monicka.jpg' title='"Monička" - Digital drawing')
                img(src='images/art/digi/noir.png' title='"Noir" - Digital drawing')
            .row
                img(src='images/art/digi/chalk.jpg' title='"Chalk" - Digital drawing')

        h2 Photography
        p.
            Photography for me is primarily means of documenting the adventures I find myself on. This is a selection
            of some of my favourite pictures, in no particular order.
        table
            .row
                img(src='images/art/photos/1.jpg' title='Autumn Road')
                img(src='images/art/photos/2.jpg' title='John')
                img(src='images/art/photos/3.jpg' title='Pyrenees from Toulouse')
            .row
                img(src='images/art/photos/10.jpg' title='Vanagon')
                img(src='images/art/photos/11.jpg' title='Rogers Pass')
                img(src='images/art/photos/12.jpg' title='Nevada')
            .row
                img(src='images/art/photos/13.jpg' title='Glacier')
                img(src='images/art/photos/33.jpg' title='Sunset')
                img(src='images/art/photos/15.jpg' title='Rappel')
            .row
                img(src='images/art/photos/19.jpg' title='Eastbound')
                img(src='images/art/photos/20.jpg' title='Oily Sea')
                img(src='images/art/photos/21.jpg' title='Dirt Road')
            .row
                img(src='images/art/photos/25.jpg' title='Winter Trees')
                img(src='images/art/photos/26.jpg' title='Otters')
                img(src='images/art/photos/27.jpg' title='The Bride')
            .row
                img(src='images/art/photos/28.jpg' title='Frozen Lake')
                img(src='images/art/photos/29.jpg' title='Calm')
                img(src='images/art/photos/30.jpg' title='Eagle')
            .row
                img(src='images/art/photos/31.jpg' title='Repairs')
                img(src='images/art/photos/32.jpg' title='Ascend')
                img(src='images/art/photos/14.jpg' title='Großer Zschirnstein')
            .row
                img(src='images/art/photos/34.jpg' title='Inversion')
                img(src='images/art/photos/35.jpg' title='Squasmish')
                img(src='images/art/photos/36.jpg' title='CB650')

            .row
                img(src='images/art/photos/4.jpg' title='The Chief')
                img(src='images/art/photos/5.jpg' title='Night Flame')
                img(src='images/art/photos/6.JPG' title='Ariège')
            .row
                img(src='images/art/photos/7.jpg' title='Mountain Goats')
                img(src='images/art/photos/8.jpg' title='Red Rocks')
                img(src='images/art/photos/9.jpg' title='Grasslands')
            .row
                img(src='images/art/photos/16.jpg' title='Yukon')
                img(src='images/art/photos/17.jpg' title='Snow Sprint')
                img(src='images/art/photos/18.jpg' title='Midnight Sun - Lofoten')
            .row
                img(src='images/art/photos/22.jpg' title='Wedding Guests')
                img(src='images/art/photos/23.jpg' title='Wedding Guests')
                img(src='images/art/photos/24.jpg' title='Red Rocks')
    include includes/footer.html

    //script.
    //    [...document.getElementsByTagName('img')].forEach(element => {
    //        element.addEventListener('click', (e) => {
    //            e = e || window.event; var b = e.keyCode || e.which; if (b == '0' || b == '1')
    //                window.open(element.src, '_self');
    //        })
    //        element.addEventListener('auxclick', (e) => {
    //            e = e || window.event; var b = e.keyCode || e.which; if (b == '0' || b == '1')
    //                window.open(element.src, '_blank');
    //        })
    //    })

