doctype strict
html

    include includes/head.pug
    link(rel="stylesheet" href="styles/index.css")

    body
        #menu
            a.menu-item.active(href='index.html') ABOUT
            span /
            a.menu-item(href='projects.html') PROJECTS

        #index-text-wrap.flex-column
            #greeting
                p Hello, we are
                h1 KASEET
                p#subtitle Transmission Tower Construction

        #content
            h1
                span ABOUT
            p(style='text-align:center;')
                | Welcome to the KASEET company website, which is a work in progress.
                | Check out our
                a(href='projects.html') past projects
                | , and please do feel free to contact us for more information.
            p(style='text-align:center;')
                | Vítejte na webových stránkách společnosti KASEET, které jsou aktuálně ve výstavbě.
                | Podívejte se na fotografie z našich&nbsp;
                a(href='projects.html') předchozích projektů
                |  a neváhejte nás kontaktovat.

            hr

            .flex-column(style='margin-top: 2rem')
                h4 Tomáš Tesař, Jednatel
                p Karla Čapka 211/1, Děčín 1
                p Tel: 776 442 505
                p Email:&nbsp;
                    a(href='mailto:tesar@kaseet.cz') tesar@kaseet.cz
                p IČ: 08683654; DIČ: CZ0868365

        #image-preloader
            img(src='./images/bg1.JPG')
            img(src='./images/bg2.JPG')
            img(src='./images/bg3.JPG')
        include includes/footer.pug