include includes/head.html
link(rel='stylesheet', href='styles/index.css')

</head>
body
    include includes/header.html
    #menu
        a.menu-item.active(href='index.html') ABOUT
        span /
        a.menu-item(href='travel.html') TRAVEL
        span /
        a.menu-item(href='art.html') ART


    #index-text-wrap.flex-column
        #greeting
            p Hello, I am
            h1 Stepan Tesar
            p#subtitle 🞄 Engineer, Adventurer, Human 🞄

    #content
        h1
            include includes/logo.html
            span  / ABOUT
        p Lorem ipsum dolor sit amet
        p Durum pairus leventi an

    #image-preloader
        img(src='images/bg1')
        img(src='images/bg2')
        img(src='images/bg3')
    include includes/footer.html

