doctype strict
html

    include includes/head.pug
    link(rel="stylesheet" href="styles/index.css")

    body
        #menu
            a.menu-item.active(href='index.html') ABOUT
            span /
            a.menu-item(href='travel.html') TRAVEL
            span /
            a.menu-item(href='art.html' title='This section is very heavy on images.') ART

        #index-text-wrap.flex-column
            #greeting
                p Hello, I am
                h1 Stepan Tesar
                p#subtitle &bull; Engineer, Adventurer, Human &bull;

        #content
            h1
                include includes/logo.pug
                span  / ABOUT
            p(style='text-align:center;').
                Welcome to my personal webpage and portfolio. If you would like to know about my professional experience
                in detail,
                please visit my #[a(href='https://www.linkedin.com/in/tesarstepan') Linkedin] and
                #[a(href='https://github.com/tesar-stepan') Github].

            h4(style='text-align:center;') Present and past affiliations
            #affiliations
                a(href='https://www.cvut.cz/en')
                    img(src='images/cvut.jpg')
                a(href='https://www.ubc.ca/')
                    img(src='images/ubc.png')
                a(href='https://www.skipatrol.ca/')
                    img(src='images/csp.jpg')
                a(href='https://en.lf1.cuni.cz//')
                    img(src='images/med.png')
                a(href='https://orbitaltech.com/')
                    img(src='images/orbital.png')
                a(href='https://vrify.com/')
                    img(src='images/vrify.png')
                img(src='images/crbr.jpg' title='This project is no longer active')


        #image-preloader
            img(src='images/bg1.jpg')
            img(src='images/bg2.jpg')
            img(src='images/bg3.jpg')
        include includes/footer.pug