doctype strict
html

    include includes/head.pug

    body
        #menu
            a.menu-item(href='index.html') ABOUT
            span /
            a.menu-item.active(href='projects.html') PROJECTS
        #content
            h1
                span PROJECTS
            .intro
                p.
                    Galerie z projektů, na kterých jsme se podíleli.
                p.
                    Gallery of pictures from the projects we have worked on in the past.
            p.

            h2 Doly Tušimice
            p.
                Rekonstrukce značení linky V309-V310 35kV
            p.
                Signage reconstruction of line V309-V310 35kV

            .row
                a(href='./images/proj1/1.jpeg')
                    img(src='./images/proj1/1.jpeg' title='Instalace značení na lince 35kV / Signage installation on a 35kV line')
                a(href='./images/proj1/2.jpeg')
                    img(src='./images/proj1/2.jpeg' title='Kontrola linky / Line inspection')
                a(href='./images/proj1/3.jpeg')
                    img(src='./images/proj1/3.jpeg' title='Linka 35kV před rekonstrukcí značení / 35kV line before signage reconstruction')
            .row
                a(href='./images/proj1/4.jpeg')
                    img(src='./images/proj1/4.jpeg' title='Nově instalované značení / Newly installed signage')
                a(href='./images/proj1/5.jpeg')
                    img(src='./images/proj1/5.jpeg' title='Příprava odvozu materiálu do nepřístupného terénu / Preparation for material transport through difficult terrain')
                a(href='./images/proj1/6.jpeg')
                    img(src='./images/proj1/6.jpeg' title='Rekonstrukce značení na lince 35kV / Signage reconstruction on a 35kV line')
                a(href='./images/proj1/7.jpeg')
                    img(src='./images/proj1/7.jpeg' title='Rozvoz materiálu / Material transport')

            h2 Doly Tušimice
            p.
                Stavba linky V11-V12 - přeložka vedení VN 35kV na DNT
            p.
                Construction of line V11-V12 - Replacement of line VN 35kV to DNT

            .row
                a(href='./images/proj2/1.JPG')
                    img(src='./images/proj2/1.JPG' title='Zvedání vrchního dílu stožáru vedení / Peak segment lifting')
                a(href='./images/proj2/2.JPG')
                    img(src='./images/proj2/2.JPG' title='Transport vrchního dílu stožáru / Transport of a peak segment')
                a(href='./images/proj2/3.JPG')
                    img(src='./images/proj2/3.JPG' title='Transport vrchního dílu stožáru / Transport of a peak segment')
                a(href='./images/proj2/4.JPG')
                    img(src='./images/proj2/4.JPG' title='Transport vrchního dílu stožáru / Transport of a peak segment')

            .row
                a(href='./images/proj2/5.JPG')
                    img(src='./images/proj2/5.JPG' title='Usazení vrchního dílu stožáru / Installation of the peak segment')
                a(href='./images/proj2/6.JPG')
                    img(src='./images/proj2/6.JPG' title='Dokončený pevnostní stožár / Finished tower')
                a(href='./images/proj2/7.JPG')
                    img(src='./images/proj2/7.JPG' title='Instalace izolačního oblouku / Isolation bypass installation')
                a(href='./images/proj2/8.JPG')
                    img(src='./images/proj2/8.JPG' title='Instalace izoláru a ukotvení vodiče na průběhovém stožáru / Isolator installation and conduit anchoring on a support tower')

            .row
                a(href='./images/proj2/9.JPG')
                    img(src='./images/proj2/9.JPG' title='Kotvení středového dílu stožáru / Tower middle segment anchoring')
                a(href='./images/proj2/10.JPG')
                    img(src='./images/proj2/10.JPG' title='Přetahování vodiče / Conduit installation')
                a(href='./images/proj2/11.JPG')
                    img(src='./images/proj2/11.JPG' title='Transport materiálu / Material transport')
                a(href='./images/proj2/12.JPG')
                    img(src='./images/proj2/12.JPG' title='Transport materiálu / Material transport')

            .row
                a(href='./images/proj2/13.JPG')
                    img(src='./images/proj2/13.JPG' title='Transport vrchního dílu stožáru / Transport of a peak segment')
                a(href='./images/proj2/14.JPG')
                    img(src='./images/proj2/14.JPG' title='Usazené stožáry / Erected towers')
                a(href='./images/proj2/15.JPG')
                    img(src='./images/proj2/15.JPG' title='Usazování středového dílu stožáru / Tower middle segment installation')
                a(href='./images/proj2/16.JPG')
                    img(src='./images/proj2/16.JPG' title='Vztyčení stožáru vedení / Tower erection')

            h2 Rychnov nad Kněžnou
            p.
                Instalace KZL na VN2360
            p.
                Installation of KZL to VN2360


            .row
                a(href='./images/proj3/1.jpeg')
                    img(src='./images/proj3/1.jpeg' title='Hotový průběžný bod / Finished anchor point')
                a(href='./images/proj3/2.jpeg')
                    img(src='./images/proj3/2.jpeg' title='Instalace svodových klem / Installation')
                a(href='./images/proj3/3.jpeg')
                    img(src='./images/proj3/3.jpeg' title='Kontrola pracoviště / Site inspection')
                a(href='./images/proj3/4.jpeg')
                    img(src='./images/proj3/4.jpeg' title='Kotvení / Anchoring')

            .row
                a(href='./images/proj3/5.jpeg')
                    img(src='./images/proj3/5.jpeg' title='Naplétání kotevních spirál / Anchor spiral weaving')
                a(href='./images/proj3/6.jpeg')
                    img(src='./images/proj3/6.jpeg' title='Navíjení pilot line / Pilot line coiling')
                a(href='./images/proj3/7.jpeg')
                    img(src='./images/proj3/7.jpeg' title='Přetahování polit line přes údolí / Pilot line valley crossing')
                a(href='./images/proj3/8.jpeg')
                    img(src='./images/proj3/8.jpeg' title='Přetažení pomocného lana nad zelení / Pilot line over greenery')

            .row
                a(href='./images/proj3/9.jpeg')
                    img(src='./images/proj3/9.jpeg' title='Příprava kladky / Pulley preparation')
                a(href='./images/proj3/10.jpeg')
                    img(src='./images/proj3/10.jpeg' title='Příprava kotevního stožáru / Anchoring tower preparation')
                a(href='./images/proj3/11.jpeg')
                    img(src='./images/proj3/11.jpeg' title='Rozvodna / Substation')

            .row
                a(href='./images/proj3/12.jpeg')
                    img(src='./images/proj3/12.jpeg' title='Sloup vedení před instalací KZL / Tower before installation')
                a(href='./images/proj3/13.jpeg')
                    img(src='./images/proj3/13.jpeg' title='Tažení KZL přes údolí / Valley crossing')
                a(href='./images/proj3/14.jpeg')
                    img(src='./images/proj3/14.jpeg' title='Tažení pilot line / Pilot line')

        include includes/footer.pug