include includes/head.html
</head>
body
    include includes/header.html
    #menu
        a.menu-item(href='index.html') ABOUT
        span /
        a.menu-item.active(href='travel.html') TRAVEL
        span /
        a.menu-item(href='art.html') ART
    #content
        h1
            include includes/logo.html
            span  / TRAVEL
        p Lorem ipsum dolor sit amet
        p Durum pairus leventi an
    include includes/footer.html
