doctype strict
html

    include includes/head.html

    body
        #menu
            a.menu-item(href='index.html') ABOUT
            span /
            a.menu-item.active(href='travel.html') TRAVEL
            span /
            a.menu-item(href='art.html' title='This section is very heavy on images.') ART
        #content
            h1
                include includes/logo.html
                span  / TRAVEL
            .intro
                p.
                    I need to move around. Travel, explore or adventure. My approach to travel is to experience
                    a place to it's fullest, and genuinely meet the people there, by living with them.
                    This is why most of my trips end up taking months or even years.
                p Below is a selection of videos and pictures from my past trips, starting with the most recent one.
                p
                    i.
                        Please do not distribute any images or videos on this website without my express authorization.
            p.

            h2 Canada
            p.
                I am currently in the Yukon Territory, Canada. I lived in Vancouver prior to this trip, and this is
                still an adventure in progress. Here are some pictures from the journey North.

            p.
                I am documenting this trip in more detail on #[a(href='https://www.instagram.com/hodne.jsem.nekde/') Instagram],
                and #[a(href='https://www.facebook.com/jsem.nekde') Facebook]. These channels are, however, mainly focused on a Czech
                speaking audience.
            .row
                a(href='images/travel/yt1.jpg')
                    img(src='images/travel/yt1.jpg' title='Kayaking in Squamish')
                a(href='images/travel/yt2.jpg')
                    img(src='images/travel/yt2.jpg' title='Kayaking in Pitt Meadows')
                a(href='images/travel/yt3.jpg')
                    img(src='images/travel/yt3.jpg' title='Hope Slide')
            .row
                a(href='images/art/photos/33.jpg')
                    img(src='images/art/photos/33.jpg' title='Sunset near Fort Nelson')
                a(href='images/travel/yt4.jpg')
                    img(src='images/travel/yt4.jpg' title='Aurora Borealis near Fort Nelson')
                a(href='images/travel/yt5.jpg')
                    img(src='images/travel/yt5.jpg' title='Snowed in near Whitehorse')

            h3 Van Build
            p.
                I spent 4 years in Vancouver, working and taking a break after traveling in Europe. Last 2 years a lot of
                my free time was spent on fixing and camperizing a 1988 Volkwagen Transporter (called 'Vanagon' in the North American
                market). This was a challenging project, and it would have been impossible to pull off without support
                some amazing people in the Vancouver, and the global, Vanagon and VW community.

            .row
                iframe(src="https://www.youtube.com/embed/4YxCn4ZdGGE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                a(href='images/travel/van1.jpg')
                    img(src='images/travel/van1.jpg' title='Early stage of restoration')
                a(href='images/travel/van2.jpg')
                    img(src='images/travel/van2.jpg' title='Soon after completion')

            h3 Outdoors
            p.
                Moving to Vancouver was motivated mainly by the surrounding wilderness. During my time there, I was
                able to venture into the great outdoors around the Lower Mainland, and parts of the
                USA west coast, to climb, ski, tour and claim few mountain summits.

            .row
                iframe(src="https://player.vimeo.com/video/233159549" allow="picture-in-picture" allowfullscreen)
                a(href='images/travel/van3.jpg')
                    img(src='images/travel/van3.jpg' title='Climbing "Wicked Gravity" in Lake Louis')
                a(href='images/travel/van4.jpg')
                    img(src='images/travel/van4.jpg' title='Backountry tour to Mount Frosty')

            h3 Motorcycles

            p.
                While I mostly travel either by public transport, hitchhiking, or most recently - in a camper van,
                the best way of moving around a big urban center like Vancouver proved to be a motorcycle
                (At least in the summer months). I have managed to put my tinkering needs to good use modifying
                a 1982 Honda CB650 into a Cafe Racer. I have later switched to an even older Suzuki GS550,
                that has already been fully modded, but needed a lot of TLC.

            .row
                iframe(src="https://www.youtube.com/embed/_Vlv6xL6SjA" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                a(href='images/art/photos/36.jpg')
                    img(src='images/art/photos/36.jpg' title='1982 Honda CB650')
                a(href='images/art/photos/31.jpg')
                    img(src='images/art/photos/31.jpg' title='1979 Suzuki GS550')
