doctype strict
html

    include includes/head.html

    body
        #menu
            a.menu-item(href='index.html') ABOUT
            span /
            a.menu-item.active(href='travel.html') TRAVEL
            span /
            a.menu-item(href='art.html' title='This section is very heavy on images.') ART
        #content
            h1
                include includes/logo.html
                span  / TRAVEL
            p Lorem ipsum dolor sit amet
            p Durum pairus leventi an

        include includes/footer.html