doctype strict
html

    include includes/head.html

    body
        #menu
            a.menu-item(href='index.html') ABOUT
            span /
            a.menu-item.active(href='travel.html') TRAVEL
            span /
            a.menu-item(href='art.html' title='This section is very heavy on images.') ART
        #content
            h1
                include includes/logo.html
                span  / TRAVEL
            .intro
                p.
                    I need to move around. Travel, explore or adventure. My approach to travel is to experience
                    a place to it's fullest, and genuinely meet the people there, by living with them.
                    This is why most of my trips end up taking months or even years.
                p Below is a selection of videos and pictures from my past trips, starting with the most recent one.
                p
                    i.
                        Please do not distribute any images or videos on this website without my express authorization.
            p.

            h2 Canada
            p.
                I am currently in the Yukon Territory, Canada. I have lived in Vancouver prior to this trip, and this is
                still an adventure in progress. Here are some pictures from the journey North.

            p.
                I am documenting this trip in more detail on #[a(href='https://www.instagram.com/hodne.jsem.nekde/') Instagram],
                and #[a(href='https://www.facebook.com/jsem.nekde') Facebook]. These channels are, however, mainly focused on a Czech
                speaking audience.
            .row
                a(href='images/travel/yt1.jpg')
                    img(src='images/travel/yt1.jpg' title='Kayaking in Squamish')
                a(href='images/travel/yt2.jpg')
                    img(src='images/travel/yt2.jpg' title='Kayaking in Pitt Meadows')
                a(href='images/travel/yt3.jpg')
                    img(src='images/travel/yt3.jpg' title='Hope Slide')
            .row
                a(href='images/art/photos/33.jpg')
                    img(src='images/art/photos/33.jpg' title='Sunset near Fort Nelson')
                a(href='images/travel/yt4.jpg')
                    img(src='images/travel/yt4.jpg' title='Aurora Borealis near Fort Nelson')
                a(href='images/travel/yt5.jpg')
                    img(src='images/travel/yt5.jpg' title='Snowed in near Whitehorse')