doctype strict

script.

    var comicDir = 'images/comic/'
    var fileExt = '.tif'
    var lastImage = 1;
    var currentImage = lastImage;

    function showFirst() {
        replaceImage(1);
    }

    function showLast() {
        replaceImage(lastImage);
    }

    function showPrev() {
        replaceImage(getPrevImageId());
    }

    function showNext() {
        replaceImage(getNextImageId());
    }

    function getPrevImageId(){
        return currentImage - 1 < 1 ? 1 : --currentImage
    }

    function getNextImageId(){
        return currentImage + 1 > lastImage ? lastImage : ++currentImage
    }

    function replaceImage(newImageId) {
        document.getElementById('comic').setAttribute('src', comicDir+newImageId+fileExt)
        replaceImageUrl(newImageId)
    }

    function replaceImageUrl(newImageId){
        console.log('replacing url with '+newImageId);
    }

html
    head
        meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
        title Tifik webcomic
        link(rel="stylesheet" href="styles/style.css")
        link(rel="stylesheet" href="styles/tifik.css")

    body

        #content
            h1 Tifik Webcomic

            include includes/nav.pug

            img#comic(src='')

            include includes/nav.pug

        include ../includes/footer.pug

script.
    showFirst()
