#footer.flex-column
    .flex-column
        p This webpage uses no cookies*, javascript or custom fonts.
        p It is responsive, fast and lightweight.
        p
        p
            i.
                *Embedded video players like youtube still force cookies,
                If you care about privacy, block all third-party cookies with #[a(href="www.firefox.com") Firefox].
    hr
    .logo
        span S
        span T

#overlay
