#footer.flex-column
    .flex-column
        p This webpage uses no cookies, javascript or custom fonts.
        p It is responsive, fast and lightweight.
    hr
    .logo
        span S
        span T

#overlay
