#footer.flex-column
    .flex-column
        p Karla Čapka 211/1, Děčín 1
        p Tel: 776 442 505
        p Email:&nbsp;
            a(href='mailto:tesar@kaseet.cz') tesar@kaseet.cz
        p IČ: 08683654; DIČ: CZ0868365

    hr
    .logo
        span KASEET

#overlay
