// Constants

/// Colors
almostBlack = #1f1f1f
almostWhite = #c8c8c8
darkerGray = #343434
lighterGray = #4a4a4a
myRed = #e00000

menuLetterSpacing = 0.1em

/* Native tag style reset */

html, body
  padding 0
  margin 0
  width 100%
  height 100%

  font-family "Helvetica", Arial, sans-serif

h1
  margin 0;

p
  padding 4px
  margin 0

a, a:visited, a:active, a:hover, a:link
  text-decoration none
  color unset

hr
  padding 0
  margin 6px

  outline none
  border none

  width 50%
  height 1px

  background almostBlack


/* Main layout */

body
  background white
  background-size cover
  background-position center right
  background-attachment fixed

  color black
  overflow-x hidden

#overlay
  position fixed

  top: 0
  left 0
  width: 100%;
  height: 100%;

  background white

  animation 1s ease-out 0.5s 1 overlayFadeOut forwards

@keyframes overlayFadeOut {
  99% {
    background: transparent;
    width 100%
    height 100%
  }
  100% {
    background: transparent;
    display: none;
    width: 0;
    height: 0;
  }
}

/* * Header */

#menu
  display flex
  z-index 100
  position fixed

  width 100%;
  padding 1vw

  align-items center
  justify-content center

  font-size large
  color white

  background rgba(0,0,0,0.5)

.menu-item
  cursor pointer
  transition letter-spacing 0.2s, color 0.2s

  &::before
    position relative
    top 0.07em

    font-size 130%

    transition 0.2s
    opacity 0

  &:hover
    letter-spacing menuLetterSpacing
    color myRed

  &:active, &.active
    color myRed

/* * Content */

#content
  position relative

  min-height 100%
  padding 50px 6vw 6vw 6vw

  color black
  background white

  h1
    position relative
    top 1vw
    margin-bottom 2vw
    width 100%

    font-size 3rem
    text-align center
  h2, h3
    position relative
    left -6vw
    width 100vw

    padding 2vw 6vw

    text-align left
    color white

    background black

  h3
    background almostBlack

  p
    padding 1vw 0
    text-align justify

  hr
    position absolute
    width 100vw
    height 2px
    left 0

    margin 0

  a
    text-decoration underline

  iframe
    border none
    outline none
    background black

#image-preloader
  position fixed
  top 0
  left 0
  width 0
  height 0
  display none
  opacity 0

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggleMenuItem {
  0% {
    letter-spacing 0
  }
  50% {
    letter-spacing menuLetterSpacing
  }
  100% {
    letter-spacing 0
  }
}

/* * Footer */

#footer
  position relative

  width 100%
  height 140px

  background almostBlack
  color almostWhite

  font-size small

  display flex
  justify-content center
  align-items center

  hr
    background darkerGray

/* Layout helper classes */

.flex-column
  display flex
  justify-content center
  align-items center
  flex-flow column

/* Logo */

.logo
  display inline-block
  position relative
  letter-spacing -0.0625em
  font-weight 500

  > span:first-of-type
    position relative
    top 0.25em

  > span:last-of-type
    position relative
    top -0.25em

.intro
  display flex
  flex-flow column
  justify-content center
  align-items center

  width 100%
  margin-bottom 2vh

.row
  display flex
  justify-content center
  align-items safe

  width 100%
  overflow hidden

  a
    display flex
    width 100%

    min-height 0
    min-width 0

    height auto

  img
    width 100%
    min-width 0
    max-height 50vw
    cursor pointer

    object-fit cover

  p
    display flex
    position relative
    top 100px
    width 100%

    font-size smaller

    align-items center
    justify-content center

    background rgba(0,0,0,0.5)
    color white

  iframe
    flex-shrink 0
    flex-basis 50%